---
title: Home
---

<section class='language'>
  <%= app.header 'Welcome', '/images/hey.svg', style: 'left: 5px;' %>

  <section style="margin-top: 15px;" class='columns cols-gapless'>
    <section class='column col-xs-12 col-mx-auto'>
      <p>
        Welcome to <a href="https://github.com/rg-3" target='_blank'>rg's</a> homepage.
        <br>
        Below you will find articles and projects that I have authored.
      </p>
    </section>
  </section>
</section>

<section class='language'>
  <%= app.header 'Ruby libs', 'images/ruby.svg' %>

  <section class='columns cols-gapless'>
    <section class='column col-xs-12 col-mx-auto'>
      <ul class='tab tab-block'>
        <li>
          <%= app.link_to_github "trip.rb" %>
          <p>
            Trip is a concurrent tracer that can pause, resume and alter code while it is being traced.
            The tracer yields control between two threads, typically the main thread and a thread that
            Trip creates.
          </p>
        </li>
        <li>
          <%= app.link_to_github "twenv.rb" %>
          <p>
            twenv.rb provides a customizable Twitter environment where you can interact with Twitter
            through its web APIs using a REPL. The environment uses the Ruby programming language, Pry and
            the Twitter library.
          </p>
        </li>
        <li>
          <%= app.link_to_github "xchan.rb" %>
          <p>
            xchan.rb is a simple and easy to use library for sending and receiving Ruby objects between
            Ruby processes who have a parent-child relationship.
          </p>
        </li>
        <li>
          <%= app.link_to_github "xpool.rb" %>
          <p>
            xpool.rb is an implementation of a process pool that uses xchan.rb to communicate between
            processes.
          </p>
        </li>
      </ul>
    </section>
  </section>
</section>

<section class='language'>
  <%= app.header 'JS libs', 'images/js.svg' %>

  <section class='columns cols-gapless'>
    <section class='column col-xs-12 col-mx-auto'>
      <ul class='tab tab-block'>
        <li>
          <%= app.link_to_github "http-client.js" %>
          <p>
            http-client.js implements a Promise-based API on top of <code>XMLHttpRequest</code>.
          </p>
        </li>
        <li>
          <%= app.link_to_github "include-html.js" %>
          <p>
              include-html.js implements an easy to use Promise-based API that fetches and inserts HTML
              partials through one or more network requests. I use this library in the
              <%= app.link_to_github "screenshot.js", name: 'Screenshot' %> browser extension.
          </p>
        </li>
      </ul>
    </section>
  </section>
</section>

<section class='language'>
  <%= app.header 'Browser extensions', '/images/chrome.svg' %>

  <section class='columns cols-gapless'>
    <section class='column col-xs-12 col-mx-auto'>
      <ul class='tab tab-block'>
        <li>
          <%= app.link_to_github "screenshot.js", name: 'Screenshot' %>
          <p>
            Screenshot is a Chrome extension that takes screenshots of web pages and web videos at
            the stroke of a keyboard shortcut.
          </p>
        </li>
      </ul>
    </section>
  </section>
</section>
